{{>header}}
<div class="main-content">
    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>
    <p class="headerTxt"></p>
    <p class="infoTxt"></p>
    <script src="js/app.js"></script>
</div>{{>footer}}